.recipeCardWrapper {
  background-color: #0094d7;
  border-radius: 5px;
  margin: 10px 0;
  width: 100%;
}

.recipeCard {
  display: flex;
  flex-direction: row;
}

.recipeImage {
  border-radius: 5px 0 0 5px;
  min-width: 240px;

  min-height: 150px;
  position: relative;
}

.image {
  flex-shrink: 0;
}

.textContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 40px 0;
}

.recipeName {
  font-weight: 700;
  margin: 0;
  color: white;
  letter-spacing: 1px;
}

@media only screen and (max-width: 480px) {
  .recipeImage {
    min-width: 90px;
    min-height: 90px;
  }
}
